@(sport: Sport, schedule: Schedule)
@import Joda._

@main("THOTH") {

<div class="page-header">
  <h1><a href='/'>THOTH</a></h1>
</div>
<h2>@sport.name <small>ref. <a href="@sport.ref(1)">@sport.ref(0)</a></small></h2>

<table class="table">
  <thead>
    <tr>
      <th colspan=2>@schedule.date.toString("yyyy")/@schedule.month</th>
    </tr>
  </thead>
  <tbody>
    @schedule.games.map { game =>
    @game._2.zipWithIndex.map{case(g, i) =>
    <tr>
      @if(i == 0){
      <td rowspan=@game._2.length>@game._1.toString("dd EEE")</td>
      }
      <td>@g</td>
    </tr>
    }
    }
  </tbody>
</table>
<ul class="pager">
  <li class="previous">
    <a href="/@sport.name.toLowerCase/@schedule.previousMonth">&larr; @schedule.previousMonth</a>
  </li>
  <li class="next">
    <a href="/@sport.name.toLowerCase/@schedule.nextMonth">@schedule.nextMonth &rarr;</a>
  </li>
</ul>

}
